#page-wrapper {
	padding-top: 0;
}

.navbar-brand img {
    max-height: 20px;
    width: auto;
}

ul#main-menu li a {
	text-transform: uppercase;
	color: #fff;
}

.fullwidth-hero {
    width: 100vw !important;
    max-width: 100vw !important;
    margin-left: calc(50% - 50vw) !important;
    margin-right: calc(50% - 50vw) !important;
	margin-bottom: 2rem;
    text-align: center;
    color: #fff;

    h2 {
    font-size: clamp(3.5rem, 0.165rem + 7.8307vw, 6.625rem);;
    line-height: 1.1;
    font-weight: 400;
    text-transform: uppercase;
    }
}

/* Keep hero inner content boxed (following Understrap's container width) */
.fullwidth-hero .wp-block-cover__inner-container > *:not(h2){
    max-width: 1320px; /* Or match your Understrap container max */
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: clamp(1.5rem, 0.6032rem + 1.6931vw, 2rem);;
}

.wp-block-group {
    color: #fff;
}